<h1>{{ header.name }}</h1>
<p>{{ header.goalLife }}</p>
<img src="https://i.postimg.cc/5tdBRx8T/IMG-20240908-120131.jpg" alt="Imagen de perfil" style="width: 200px; height: 600; max-height: 600px;" />

<ul>
  <li>
    <strong>EMAIL: </strong><span>{{ header.email }}</span>
  </li>
  <li>
    <strong>PHONE NUMBER: </strong><span>{{ header.phoneNumber }}</span>
  </li>
  <li>
    <strong>LOCATION: </strong><span>{{ header.location }}</span>
  </li>
  <li>
    <strong>SOCIAL NETWORK: </strong><span>{{ header.socialNetwork }}</span>
  </li>
</ul>
